<div class="container_16">
    <div class="grid_16 ">
        <nav class="">
            <ul class="sf-menu">
                <li class="@(ViewBag.CurrentPage=="Home"?"current":"")">
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>

                <li class="@(ViewBag.CurrentPage=="AboutUs"?"current":"")">
                    <a href="@Url.Action("AboutUs","Home")">About Us </a>
                </li>

                <li class="@(ViewBag.CurrentPage=="Product"?"current":"")">
                    <a href="#">Products</a>
                    <ul>
                        <li class="sub-menu @(ViewBag.CurrentPage=="Products"?"current":"")">
                            <a href="#">Food Products</a>
                            <ul>
                                <li><a href="@Url.Action("SeaFood","Products")">Sea Food </a></li>
                                <li class="@(ViewBag.CurrentPage=="Products"?"current":"")">
                                    <a class="dried" href="#">Dried Fruits and Nuts </a>
                                    <ul>
                                        <li><a href="@Url.Action("Dates","Products")">Dates </a></li>
                                        <li><a href="@Url.Action("Pistachio","Products")">Pistachio </a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="@(ViewBag.CurrentPage=="Products"?"current":"")">
                            <a class="nonfood" href="#">Non Food Products </a>
                            <ul>
                                <li><a href="@Url.Action("Gilsonite","Products")">Gilsonite</a></li>
                                <li><a href="@Url.Action("Bitumen","Products")">Bitumen</a></li>
                                <li><a href=@Url.Action("Gypsum","Products")>Gypsum </a></li>
                                <li><a href=@Url.Action("CementAndClinker","Products")>Cement And Clinker </a></li>
                                <li><a href=@Url.Action("LubricantsAndGreaseTrading","Products")>Lubricants And Grease Trading </a></li>
                                <li><a href=@Url.Action("PetroChemicalTrading","Products")>Petro Chemical Trading </a></li>
                                <li><a href=@Url.Action("PaperTrading","Products")>Paper Trading </a></li>
                                <li><a href=@Url.Action("PackingAndPackagingMaterial","Products")>Packing And Packaging Material </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="@(ViewBag.CurrentPage=="ContactUs"?"current":"")">
                    <a href="@Url.Action("ContactUs","Home")">Contact Us </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="clear"></div>
</div>
