@{
    ViewBag.Title = "Bitumen";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Bitumen
                <span></span>
            </h2>
        </div>
    </div>
   <div class="grid_16 ">
        
    </div>
    <div class="grid_16 ">
    <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Bitumen/Bitumen/bitumen in new steel drum.jpg")" alt="Glisonate"/>    <p>Ghanim Abbadi Trading Company (GAT) is manufacturer of Gilsonite (natural asphalt), Bitumen 60/70,Bitumen 80/100...oxidized asphalt - blown asphalt-oxidized bitumen115/15,oxidized bitumen 90/40,oxidized bitumen 85/25 and bituminous products.</p>
<p>Gilsonite is GAT brand name for the mineral known as asphaltum, uintaite, Natural bitumen, mineral tar, natural asphalt, mineral bitumen, bitumen powder, drilling mud, or uintaite, which is found in commercial quantities only in Utah, USA.</p>
<p>This unique mineral is used in more than 160 products, primarily in dark-colored printing inks and paints, oil well drilling muds and cements, asphalt modifiers, foundry sands additives and a wide variety of chemical products.</p>
<p>Gilsonite or natural asphalt or natural bitumen or mineral asphalt is compatible with microcrystalline and paraffin wax, petroleum resin and oil resins, tall oil pitch, vegetable oil (linseed, soya, etc), petroleum process oils and  petroleum asphalt.</p>
<p>Also we are providing Blown Asphalt or Oxidized Asphalt or Blown Bitumen or Oxidized Bitumen 115/15 or Oxidized asphalt 115/15 or blown bitumen 115/15 or bitumen 115/15, Oxidized Bitumen 85/25, Oxidized Bitumen 95/15, Oxidized Bitumen 100/15, Oxidized Bitumen 150/5, Oxidized Asphalt 115/15, Oxidized Asphalt 85/40, Oxidized bitumen 85/40, Hard asphalt or Hard bitumen, all grades of Oxidized Bitumen will produce according to order.</p>
<p>Ghanim Abbadi Trading Company Bitumen Services:</p>
<p>GAT focused on the high quality, safe and reliable distribution and export of bitumen to local and worldwide market. </p>
<p>We are using modern bitumen tankers, Bitutainers, flexi tank, Bitubag, and storage terminals.</p>
<p>Ghanim Abbadi Trading Company core services include:</p>
<p>High quality bitumen produced according to ASTM standards.</p>
<p>Penetration bitumen, Oxidized Bitumen or Oxidized asphalt, Blown bitumen, Cutback bitumen emulsion bitumen and also CRMB along with Bitumen coal also Bitumen pitch and modified Bitumen.</p>
<p>Grades bitumen 10/20, bitumen 30/40, bitumen 40/50, bitumen 60/70, bitumen 85/100, bitumen 100/120, Oxidized bitumen 90/15, Oxidized bitumen 85/25, Oxidized bitumen 90/40, Oxidized bitumen 150/5, Oxidized bitumen 115/15, Oxidized bitumen 85/25, Oxidized bitumen 95/25, Oxidized bitumen 90/25, cutback MC30 and cutback MC70.</p>
        <p>We are loading in 155-200 kg new corrugated drums or 25-100 kg poly bags. </p>
        <ul>
            <li>FOB / CFR major world ports.</li>
            <li>              International standards obtained.</li>
            <li>              Competitive prices.</li>
            <li>              Prompt deliveries; Bulk deliveries with tanker vessels also available upon request.</li>
            <li>             Bulk bitumen shipping and product supply.</li>
            <li>               Supply of bitumen in bitutainers (20 ft bulk liquid container).</li>
            <li>   Leasing of bitutainers for carriage of bitumen.</li>
            <li>                 Bulk bitumen storage.</li>
            <li>   Integrated Bitumen supply chain management.</li>
            <li>   Bulk bitumen in flexi tank in 20ft container.</li>
            <li>   Bitumen in 25Kg bag.</li>
            <li>   Bitumen in steel drum.</li>
            <li>                 Oxidized bitumen-Oxidized asphalt-Hard asphalt-Petroleum Bitumen. </li>
        </ul>
<p>For further enquiries, please feel free to contact us on<a href="mailto:info@abbaditrading.com" > info@abbaditrading.com</a> Thanks in advance and looking forward to hear from you soon.</p>

    </div>
    <div class="grid_4 ">
        <a href="@Url.Action("PenetrationBitumen")"><div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/penetrationThumbnail.jpg")"  alt="penetration bitumen"><span>Penetration Bitumen</span> <br>
                                                                                                                                                                                                                                                         <p> Iran penetration bitumen (Iran bitumen 40/50; Iran bitumen 60/70; Iran bitumen 80/100...</p>
                                                    </div></a>
    </div>
    <div class="grid_4 ">
        <a href="@Url.Action("CutbackBitumen")"><div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/CutbackThumbnail.jpg")"  alt="CutbackBitumen"><span>Cutback Bitumen</span> <br>
                                                                                                                                                                                                                                    <p> MC GRADES Cutback asphalt is simply a combination of asphalt cement and petroleum solvent. </p>
                                                </div></a>
    </div>
    <div class="grid_4 ">
        <a href="@Url.Action("OxidizedBitumen")"><div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/OxidizedThumbnail.jpg")"  alt="Oxidized Bitumen"><span>Oxidized Bitumen</span> <br>
                                                                                                                                                                                                                                         <p> We are a dynamic and multi-faceted Limited Company  based in Iran and branched in UAE.</p>
                                                </div></a>
    </div> 
    <div class="grid_4 ">
        <a href="@Url.Action("Gilsonite")"><div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/GilsoniteThubnail.jpg")"  alt="Gilsonite"><span>Gilsonite</span> <br>
                                                                                                                                                                                                               <p> Gilsonite is used to control API and HTHP fluid loss in the oil base drilling fluid.when mixed with organophilic clays,</p>
                                           </div></a>
    </div>
       
</div>
