@{
    ViewBag.Title = "SeaFood";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Carpets
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet1.jpg")" alt="Carpets" />
    </div>
    <div class="grid_16 ">
        <p>
            <h3>Species</h3>
            <br />
        <p>
            We are a big company that trades machine made carpets, Turkish carpets are sometimes also named Anatolian carpets. The oldest Turkish carpets found, originate from the 13th century and can be found in the city of Konya, which for a long time was the center for Turkish carpet manufacturing. Carpets that were made in the 16th and 17th century are fully comparable with the Persian carpets.

            The Turkish carpets are highly influenced by the Greeks which back in time dominated carpet manufacturing. The carpets which are thicker, consists of wool, cotton and silk and are always tied with a Turkish knot, also called Ghiordes knot or Turk-Baff. The most valuable, beautiful, and costly Turkish rugs are made of machine-made rug threads. Typically, area rug holds 320-700 threads.
            Now we have provided this precious collection in the form of a “Machine made area rug”

        </p>
        <div class="clearfix"></div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet2.jpg")" alt="Carpets" />
        <div class="clearfix"></div>

        <p>

            Starting from handwoven carpet production in 1995, Rhine middle east co trading company their experience with the quality of Turkish carpet. Rhine middle east co give service to all around the world with extremely large color palette and design catalogs and offer you the best solutions for your carpet projects.

            With our creative, innovative and glamourous designs, we will catch your attention. Our beautiful designed carpets will color your areas such as, hotels, dorms, restaurants, offices, malls, stores, houses, conference and meeting rooms and many more.
            Rhine middle east co is targeting to be the most dynamic carpet by Offering the solutions higher than customer’s expectations. Our main target is 100% customer satisfaction in all the world. We produce completely custom carpets for your esteemed projects as well as our very large range of stock models.

            As one of the leading carpets in Dubai U.A.E, we maintain and expand our position in carpet market in all around the world. We produce the trend setting designs with the most recent technology and present to you. You will see our difference by the quality of our products and difference in our services.

        </p>
        <div class="clearfix"></div>

        <h3>Types</h3><br />
        <p>
            PVC Frame for wall Décor 100% PVC

            PP / Polypropylene, 320 Reeds, 960 Density, Pile 8 mm

        </p>
        <br />
        <div class="clearfix"></div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet3.jpg")" alt="Carpets" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet4.jpg")" alt="Carpets" />
        <div class="clearfix"></div>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet12.jpg")" alt="Carpets" />
        <div class="clearfix"></div>
        <p>
            Polyester, 700 Reeds, 3000 Density, wall Décor
        </p>
        <div class="clearfix"></div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet5.jpg")" alt="Carpets" />

        <div class="clearfix"></div>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet6.jpg")" alt="Carpets" />

        <div class="clearfix"></div>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet7.jpg")" alt="Carpets" />

        <div class="clearfix"></div>

        <p>
            Polyester, 700 Reeds, 3000 Density.
        </p>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet8.jpg")" alt="Carpets" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet9.jpg")" alt="Carpets" />

        <div class="clearfix"></div>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet10.jpg")" alt="Carpets" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Carpets/carpet11.jpg")" alt="Carpets" />

        <div class="clearfix"></div>

        <p>For further enquiries, please feel free to contact us on<strong><a href="mailto:info@rhineme.com"> info@rhineME.com</a></strong> Thanks in advance and looking forward to hear from you soon.</p>
    </div>
</div>
