@{
    ViewBag.Title = "ConfectioneryChocolateAndToffee";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Confectionery Chocolate And Toffee</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Confectionery/Confectionerychocolateandtoffeepage1.jpg")" alt="Confectionery" /><br />
    </div>
    <div class="grid_16 ">
        <p>
            <h3>Confectionery</h3><div class="clearfix"></div>
            Confectionery is the art of making “confections”, which are food items that are rich in sugar and carbohydrates. Exact definitions are difficult. In general, though, confectionery is divided into two broad and somewhat overlapping categories, “flour confections” and “sugar confections”.
            Flour confectionery, also called bakers' confections, includes principally sweet pastries, cakes, biscuits, and similar baked items. Sugar confectionery includes chocolates, toffees, candies, candied nuts, chewing gum, bubble gum, pastille, and other confections that are made primarily of sugar. In some cases, chocolate confections are treated as a separate category, as are sugar-free versions of sugar confections. Internationally speaking, there are some other common words for sugar confections e.g. candies, sweets, etc.
        </p>
        <br />
        <div class="clearfix"></div>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Confectionery/Confectionerychocolateandtoffeepage2.jpg")" alt="Confectionery" /><br />
        </div>
        <p>
            <h3>Chocolate</h3>
            <div class="clearfix"></div>
            <div>
                <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Confectionery/Confectionerychocolateandtoffeepage3.jpg")" alt="Confectionery" />
            </div>
            Chocolate is a typically sweet, usually brown food preparation of cacao seeds, roasted and ground. It is made in the form of a liquid, paste, or in a block, or used as a flavoring ingredient in other foods.
            Chocolate has become one of the most popular food types and flavors in the world, and a vast number of foodstuffs involving chocolate have been created, particularly desserts including cakes, pudding, mousse, chocolate brownies, and chocolate chip cookies. Many candies are filled with or coated with sweetened chocolate, and bars of solid chocolate and candy bars coated in chocolate are eaten as snacks. Gifts of chocolate molded into different shapes (e.g., eggs, hearts, or coins) have become traditional on certain holidays. Chocolate is also used in cold and hot beverages such as chocolate milk and hot chocolate.
        </p>
        <br />
        <div class="clearfix"></div>
        <div>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Confectionery/Confectionerychocolateandtoffeepage4.jpg")" alt="Confectionery" />
        </div>
        <p>
            <h3>Toffee</h3><div class="clearfix"></div>

            <div>
                <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Confectionery/Confectionerychocolateandtoffeepage5.jpg")" alt="Confectionery" />
            </div>
            <div class="clearfix"></div>
            Toffee is a confection made by caramelizing sugar along with butter, and occasionally flour. The mixture is heated until its temperature reaches the hard crack stage of 149 to 154 °C (300 to 310 °F). While being prepared, toffee is sometimes mixed with nuts, raisins, or fruit.
        </p>
    </div>
</div>