@{
    ViewBag.Title = "Bitumen";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Bitumen")" class="btn">Back</a>
            <h2>Cutback Bitumen
                <span></span>
            </h2>
        </div>
    </div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/CutbackHEader.jpg")" alt="Cutback"/>
    </div>
    <div class="grid_16 ">
        <p>MC GRADES Cutback asphalt is simply a combination of asphalt cement and petroleum solvent. Like emulsions, cutbacks are used because they reduce asphalt viscosity for lower temperature uses (tack coats, fog seals, slurry seals, stabilization material). Similar to emulsified asphalts, after cutback asphalt is applied the petroleum solvent evaporates leaving behind asphalt cement residue on the surface to which it was applied. Cutback asphalt is said to "cure" as the petroleum solvent evaporates away. The use of cutback asphalts is decreasing because of:</p>
        <ul class="contentList">
<li>Environmental regulations. Cutback asphalts contain volatile chemicals that evaporate into the atmosphere. Emulsified asphalts evaporate water into the atmosphere.</li>
        <li>Loss of high energy products. The petroleum solvents used require higher amounts of energy to manufacture and are expensive compared to the water and emulsifying agents used in emulsified asphalts.</li>
        </ul>
<p>In many places, cutback asphalt use is restricted to patching materials for use in cold weather</p>
<p>Cutback MC-30 is medium curing (MC) cut-back asphalt consisting of penetration grade asphalt cement and diluent or ‘cutter’ of medium volatility.The diluent temporarily reduces the viscosity of the asphalt cement for ease of handling and application. After application the diluent evaporates, leaving asphalt cement to perform its function</p>
<p>Petrochemical Trade Cutback MC-30 conforms to the specifications of ASTM D2127 (Medium-Curing Asphalt) or AASHTO M82The major use for Petrochemical Trade Cutback MC-30 is in the road maintenance industry where it is used as a prime coat of the base course prior to placing of the bituminous surface course. Its purpose is to bind the granular material of the base course to the asphalt layer. Usual application is by spray using a distributor.</p>
<p><strong>Cutback MC-70 </strong> is medium curing (MC) cut-back asphalt consisting of penetration grade asphalt cement and diluent or ‘cutter’ of medium volatility. The diluent temporarily reduces the viscosity of the asphalt cement for ease of handling and application. After application the diluent evaporates, leaving asphalt cement to perform its function.  Petrochemical Trade Cutback MC-70 conforms to the specifications of ASTM D2127 (Medium-Curing Asphalt) or AASHTO M82a) Roofing - As a waterproofing membrane and as an adhesive to stick chippings onto a flat, horizontal roof to minimize the effects of weathering from the sun.</p>
<p>b) Damp-Proof Courses - Used as damp-proof membranes in concrete floors particularly for small repairs or where extensions are keyed-in to existing structures.</p>
<p><strong>Cutback MC-250</strong>  is medium curing (MC) cut-back asphalt consisting of penetration grade asphalt cement and diluent or ‘cutter’ of medium volatility. The diluent temporarily reduces the viscosity of the asphalt cement for ease of handling and application. After application the diluent evaporates, leaving asphalt cement to perform its function. Petrochemical Trade Cutback MC-250 conforms to the specifications of ASTM D2127 (Medium-Curing Asphalt) or AASHTO M82a) Roofing - As a waterproofing membrane and as an adhesive to stick chippings onto a flat, horizontal roof to minimize the effects of weathering from the sun.</p>
<p>b) Damp-Proof Courses - Used as damp-proof membranes in concrete floors particularly for small repairs or where extensions are keyed-in to existing structures.</p>
<p><strong>Cutback MC-800</strong>  is a medium curing (MC) cut-back asphalt consisting of penetration grade asphalt cement and diluent or ‘cutter’ of medium volatility.</p>
<p>The diluent temporarily reduces the viscosity of the asphalt cement for ease of handling and application. After application the diluent evaporates, leaving asphalt cement to perform its function.</p>
<p>Petrochemical Trade Cutback MC-800 conforms to the specifications of ASTM D2127 (Medium-Curing Asphalt) or AASHTO M82a) Roofing - As a waterproofing membrane and as an adhesive to stick chippings onto a flat, horizontal roof to minimize the effects of weathering from the sun.</p>
<p>b) Damp-Proof Courses - Used as damp-proof membranes in concrete floors particularly for small repairs or where extensions are keyed-in to existing structures.</p>
<p<strong>>Cutback MC-3000</strong>  is a medium curing (MC) cut-back asphalt consisting of penetration grade asphalt cement and diluent or ‘cutter’ of medium volatility.</p>
<p>The diluent temporarily reduces the viscosity of the asphalt cement for ease of handling and application. After application the diluent evaporates, leaving asphalt</p>
<p>cement to perform its function.</p>
<p>Petrochemical Trade Cutback MC-3000 conforms to the specifications of ASTM D2127 (Medium-Curing Asphalt) or AASHTO M82a) Roofing - As a waterproofing membrane and as an adhesive to stick chippings onto a flat, horizontal roof to minimize the effects of weathering from the sun.</p>
<p>b) Damp-Proof Courses - Used as damp-proof membranes in concrete floors particularly for small repairs or where extensions are keyed-in to existing structures.</p>
<h3>RC GRADES</h3>
<p>The specification for Rapid Curing (RC) Cutback Asphalts applies to liquid asphaltic materials in the form of asphalt cement combined with a petroleum solvent of a gasoline type. RC Cutback Asphalts are specified by the following grades: RC-70, RC-250, and RC-800.Rapid Curing Cutback Asphalt shall consist of asphalt cement which has been liquefied by blending with a gasoline type of petroleum solvent.</p>
    </div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/cutback_bitumen.JPG")" alt="Cutback"/>
    </div>   
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/cutback_bitumen_MC_RC.jpg")" alt="Cutback"/>
    </div>  
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/cutback_bitumen_mc30.jpg")" alt="Cutback"/>
    </div>     
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Cutback Bitumen/cutbackbitumen.jpg")" alt="Cutback"/>
    </div>     
</div>

