@{
    ViewBag.Title = "Dates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
	    <div class="wrapper">
			<div class="grid_16">
	        	<h2>The Best Dates
		        <span></span>
                    </h2>
		            <p>Rhine Middle East FZCO began its activities in exporting dried fruits in 2010, aiming for quality, good services and customer satisfaction.</p>
                    <p>Having the most modern machinery in dried fruit processing, Rhine Middle East FZCO is the only exporting company equipped with:</p>
		            <ul>
		                <li>Vacuum fumigation system.</li>
		                <li>3 metal detector units, operating from processing to loading stage.</li>
                        <li>Carton making facilities.</li>
		            </ul>
  
  
  
		            <p>All goods are vacuum fumigated and loaded in containers after being metal detected one more time at the plants. </p>
                    <p>Having hoisted its flag on the top of quality and innovation, Rhine Middle East FZCO guarantees its customers top-notch goods</p>

                
	        </div>
	    </div>
        <div class="grid_4 ">
            <div class="img_box maxheight">
                <img src="@Url.Content("~/Content/images/products/Dates/Mazafati.jpg")" alt="Mazafati"><a>Mazafati Dates</a><br>
                <p>Mazafati date fruit is one of the most famous and delicious varieties of the dates...</p>
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Piarom.jpg")"  alt="Piarom"><a>Piarom Dates (Piyarom)</a><br>
            	This variety of the date is the most delicious semi dried date in the whole world...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Sayer.jpg")"  alt="Sayer"><a>Sayer Dates</a><br>
            	These dates are semi-dried with moisture under 15% and are dark brown color...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Zahedi.jpg")" alt=""><a>Zahedi Dates</a><br>
            	
            </div>
        </div>
        <div class="clear"></div>
                <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Kabkab.jpg")"><a>Kabkab Dates</a><br>
            	This dates are round in size, and the color varies from light brown to dark brown...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Syrup.jpg")" alt=""><a>Dates Syrup</a><br>
            	Dates syrup can be used instead of honey on bread or toast, instead of maple syrup...
            </div>
        </div>
       
	</div>
