@{
    ViewBag.Title = "Dates";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
	    <div class="wrapper">
			<div class="grid_16">
	        	<h2>The Best Iranian Dates
		        <span></span>
                    </h2>
		            <p>GAT began its activities in exporting Iranian carpet and dried fruits in 2010, aiming for quality, good services and customer satisfaction.</p>
<p>Exporting Iranian dried fruit under the name "LOTKA" takes great pride and the products are the finest available out of Iran. Our factories are fully automated with proper quality control systems.</p>
		            <p>Having the most modern machinery in dried fruit processing, GAT is the only exporting company equipped with:</p>
		            <ul>
		                <li>Vacuum fumigation system.</li>
		                <li>3 metal detector units, operating from processing to loading stage.</li>
                        <li>Carton making facilities.</li>
		            </ul>
  
  
  
		            <p>All goods are vacuum fumigated and loaded in containers after being metal detected one more time at the plants. </p>

<p>GAT was engaged in massive export of carpets throughout the world, but had to stop because of the Iraqi imposed war against Iran. Since then by reinforcing the dried fruit packing installations, our main activities was concentrated on processing Iranian dried fruits specially varieties of Dates and Raisins.</p>
<p>Having hoisted its flag on the top of quality and innovation, GATguarantees its customers top-notch goods</p>

                
	        </div>
	    </div>
    <div class="grid_4 ">
        <a href="@Url.Action("MazafatiDates")">
            <div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Mazafati.jpg")"  alt="Mazafati"><span> Mazafati Dates</span><br>
                                                                                                                                                               <p>Mazafati date fruit is one of the most famous and delicious varieties of the dates...</p>
            </div></a>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Piarom.jpg")"  alt="Piarom"><a href="@Url.Action("PiaromDates")">Piarom Dates (Piyarom)</a><br>
            	This variety of the date is the most delicious semi dried date in the whole world...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Sayer.jpg")"  alt="Sayer"><a href="@Url.Action("SayerDates")">Sayer Dates</a><br>
            	These dates are semi-dried with moisture under 15% and are dark brown color...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Zahedi.jpg")" alt=""><a href="@Url.Action("ZahediDates")">Zahedi Dates</a><br>
            	Zahedi is one the dry varieties of the date in most regions of Iran, however...
            </div>
        </div>
        <div class="clear"></div>
                <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Kabkab.jpg")"><a href="@Url.Action("KabkabDates")">Kabkab Dates</a><br>
            	This dates are round in size, and the color varies from light brown to dark brown...
            </div>
        </div>
        <div class="grid_4">
        	<div class="img_box maxheight"><img src="@Url.Content("~/Content/images/products/Dates/Syrup.jpg")" alt=""><a href="@Url.Action("DatesSyrup")">Dates Syrup</a><br>
            	Dates syrup can be used instead of honey on bread or toast, instead of maple syrup...
            </div>
        </div>
       
	</div>
