@{
    ViewBag.Title = "ConfectioneryChocolateAndToffee";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>Flour Products</h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage1.jpg")" alt="FlourProducts" />
    </div>
    <div class="grid_16 ">
        <p>
            Flour is a powder made by grinding wheat or other raw grains or roots and is used to make many different foods like bread, which is a staple food for most cultures. Wheat is the most common base for flour, whereas there are other sources like corn, rye, etc.
            Bakers' confectionery, also called flour confections, includes principally sweet pastries, cakes, and similar baked goods. It contains four main subgroup products:
            •	Cakes	    •	Wafers
            •	Biscuits	•	Cookies

        </p>
        <br />
        <p>
            <h3>Cakes</h3><div class="clearfix"></div>
            A cake is an item of soft sweet food made by baking a
            mixture of flour, fat, sugar, and eggs.
        </p>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage2.jpg")" alt="FlourProducts" />
        </div>
        <br />
        <p>
            <h3>Biscuit</h3><div class="clearfix"></div>
            A biscuit is a small thin dry bread/ cake that is
            usually sweet and made for one person to eat.
        </p>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage3.jpg")" alt="FlourProducts" />
        </div>
        <br />
        <p>
            <h3>Wafers</h3><div class="clearfix"></div>
            A wafer is a thin crispy flour product which is
            often sweetened and flavored.
        </p>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage4.jpg")" alt="FlourProducts" />

            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage5.jpg")" alt="FlourProducts" />
        </div>
        <br />
        <p>
            <h3>Cookies</h3><div class="clearfix"></div>
            A cookie is a small cake made from stiff, sweet dough
            rolled and sliced or dropped by spoonful on a large,
            flat pan (cookie sheet) and baked.
        </p>
        <div class="grid_16 ">
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FlourProducts/FlourProductpage6.jpg")" alt="FlourProducts" />
        </div>
        <br />
    </div>
</div>

