@{
    ViewBag.Title = "Bitumen";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Bitumen")" class="btn">Back</a>
            <h2>Gilsonite
                <span></span>
            </h2>
        </div>
    </div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/GilsoniteHeader.jpg")" alt="Gilsonite"/>
    </div>
    <div class="grid_16 ">
       <h3>GILSONITE FOR OIL DRILLING</h3>
<p>Gilsonite is used to control API and HTHP fluid loss in the oil base drilling fluid. when mixed with organophilic clays, it is particular grind size and softening point are ideal for reducing whole mud losses to the formation .Gilsonite pulverized is only partially soluble in aromatic hydrocarbons.</p>
<p>Gilsonite Pulverized is relatively stable and of low hazard. however, it should not be stored or used near strong oxidizing  agents  such as chlorates, nitrates or peroxides. Excessive dust is subject to combustion or explosion upon contact with spark or open flame and should be minimized. use good industrial hygiene practice to avoid eye and excess skin contract. Wear a protective dust mask and goggles when handling and mixing.</p>
<p>Availability</p>
<p>Gilsonite is available in 22.68kg(50LBS)25Kg-50Kg-100Kg-1000Kg muli-wall paper sacks or jumbo bag.</p>
<p>Recommended treatment</p>
<p>Gilsonite should be added a rate of 10-30Kg/m3</p>
<h3>GILSONITE FOR ROAD CONSTRUCTION/ASPHALT/PAVING</h3>
<p>Gilsonite is used as a performance-enhancing agent for asphalt mixes. Gilsonite-modified paving mixes achieve higher PG grades and incorporate perfectly into the asphalt blend with no need for high shear milling as is the case with many other modifiers. Gilsonite can partially or totally replace, or complement, the use of SBS polymers in modified asphalts at a fraction of the cost. Gilsonite-modified asphalts have higher stability, reduced deformation, reduced temperature susceptibility and increased resistance to water stripping than non-modified asphalts. Gilsonite is also used to make both solvent-based and emulsion pavement sealers with superior appearance and weathering properties.</p>
<h3>GILSONITE FOR ROOF ISOLATION/INSULATION/MEMBRANE SHEET</h3>
<p>Gilsonite is used in roofing materials primarily as an agent to lower the penetration of petroleum asphalt without aging or oxidizing the base asphalt. Lowering the penetration of the base asphalt in this way allows the base asphalt to maintain some of its flexibility while at the same time maximizing the asphalt's ability to withstand high temperatures without softening. Gilsonite is also used as a modifier to reach roofing specifications when air-blowing facilities are not available.</p>
<p>Gilsonite is also used by a number of manufacturers producing patching materials for roofing. Gilsonite is used to modify the patching materials and is distributed in containers to retail customers. Using Gilsonite as a modifier allows the product to remain pliable until applied, after which it permanently attaches to the treated surface</p>
<h3>GILSONITE FOR INK,PAINT AND COAT</h3>
<p>The paint applications, Gilsonite is usually used in combination with bitumen (asphalt). In most cases, if Gilsonite is used alone, the final paint will be very hard and brittle after drying. If normal straight-run bitumen is used alone, the finished paint is too soft and tacky. Therefore, a combination of Gilsonite and bitumen is used to achieve the desired hardness (penetration) and drying time of the finished paint. In addition to imparting hardness to the paint, Gilsonite is also increasing the paint's: (1) adhesion; (2) gloss; (3) chemical resistance; (4) water resistance; and (5) body. For hardness, Gilsonite has a zero (0) penetration (at 25°C; 100 gm, 5 sec.) compared to the 60-70 pen, 80-100 pen or softer bitumens commonly available from petroleum companies or asphalt manufacturers. Approximately 90% of all bitumen is used for road construction and these hardness grades are acceptable for that purpose. However, they are too soft by themselves for the manufacture of paint and surface coatings which require hardness values around 5 penetration for acceptable paint drying. Paint films composed of bitumen alone are tacky if the penetration is more than 10, and are brittle if less than 4.</p>
<h3>GILSONITE FOR FOUNDRY</h3>
<p>Physical Sand properties with Gilsonite® resin are equal or superior to sea coal at significantly lower additive levels. Gilsonite improves sand density, water requirements and strength (green, dry, baked, and hot). Gas evolution curves show that Gilsonite volatilizes more rapidly than sea coal. Gilsonite has the same total volatiles as seacoal at one-third the additive level.</p>
    </div>

  
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/gilsonite mine.jpg")" alt="gilsonite"/>
    </div> 
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/GILSONITE_PULVERIZE_FACTORY.jpg")" alt="gilsonite"/>
    </div> 
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/Gilsonite-Lump.JPG")" alt="gilsonite"/>
    </div> 
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/Gilsonite_pallet.jpg")" alt="gilsonite"/>
    </div> 
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/Gilsonite_powder.JPG")" alt="gilsonite"/>
    </div> 
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/Gilsonite_powder_container.jpg")" alt="gilsonite"/>
    </div> 
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/GILSONITE/Gilsonite_powder_jumbo_bag.jpg")" alt="gilsonite"/>
    </div> 
    
</div>

