@{
    ViewBag.Title = "OxidizedBitumen";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Bitumen")" class="btn">Back</a>
            <h2>Oxidized Bitumen
                <span></span>
            </h2>
        </div>
    </div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/OxidizedHeader.jpg")" alt="Cutback"/>
    </div>
    <div class="grid_16 ">

        <p>We are a dynamic and multi-faceted Limited Company  based in UAE and branched in Saudi Araba,Bahrain,Taiwan,Korea and Canada actively involved in  Manufacturing  Procurement Distribution and Export of oxidized bitumen.</p> 
        <p>We are structured into all grades of oxidized bitumen such as 150/5 ,oxidized bitumen 115/15,oxidized bitumen 95/25,oxidized bitumen 90/15,oxidized bitumen 90/25,oxidized bitumen 90/40,oxidized bitumen 85/40 and oxidized bitumen 85/25 ,to serve the different needs of our Customers worldwide.</p>
        <p> All Petroleum Oxidized Bitumen based products, refined from blowing Hydro-carbon with special attention to oxidized Bitumen. We export  all oxidized Grade of Bitumen including  oxidized bitumen 115/15; oxidized bitumen 150/5; oxidized bitumen 90/40; oxidized bitumen 95/25; oxidized bitumen 85/25 and oxidized bitumen 90/15.
        <p>  We are manufacturing all grades of blown asphalt in various packing as below:</p>
            <ol class="contentListOrderedList" >
               <li> Oxidized bitumen packed in 25 or 50kg meltable polyamide bag. </li>
               <li> Oxidized bitumen packed in 25 or 50Kg Craft bag. </li>
               <li>Oxidized bitumen packed in mold. </li>
               <li> Oxidized bitumen packed in 185Kg new steel drum. </li>
               <li> Oxidized bitumen in bulk. </li>
                
            </ol> 
        <p>Minimum order quantity of Oxidized bitumen is 1x20ft and able to deliver 3000MT monthly. We are providing Blown Asphalt (Oxidized Asphalt_Blown Bitumen_Oxidized Bitumen_oxidised bitumen)in various grades including BITUMEN 115/15 95/25 85/40 90/40 85/25 150/5 Hard asphalt or Hard bitumen and any other all grades of Oxidized Bitumen according to order.Throughout the world, more than 7 types of bitumen that is produced depend on the type of weather conditions one of them is Oxidized Bitumen.Oxidized bitumen grades are suitable for sealing saw cuts and joints where there is expected to be the minimum amount of moving in the joint. Their wide temperature range prevents bleeding in high temperature applications. Oxidized bitumen can also be used in industrial applications like roofing, flooring, mastics, pipe coatings, electrical applications.
        </p>
        <h3>What is Oxidized Bitumen?</h3>
         <img class="img_inner" style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/oxidized_bitumen_plant.jpg")" alt="Penetration"/>
    </div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/OXIDIZED BITUMEN IN CRAFT BAG.JPG")" alt="OXIDIZED"/>
    </div>   
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/OXIDIZED BITUMEN IN NONE STICKABLE CRAFT BAG.jpg")" alt="OXIDIZED"/>
    </div>  
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/OXIDIZED_BITUMEN_POLYAMIDE_BAG.jpg")" alt="OXIDIZED"/>
    </div>     
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/Oxidized bitumen in Meltable PP bag.jpg")" alt="OXIDIZED"/>
    </div> 
    <div class="clearfix"></div>    
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/oxidized bitumen block.jpg")" alt="OXIDIZED"/>
    </div>     
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/oxidized bitumen in 25Kg meltable bag.JPG")" alt="OXIDIZED"/>
    </div>  
    <div class="clearfix"></div>   
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/oxidized bitumen in drum.jpg")" alt="OXIDIZED"/>
    </div>     
    <div class="grid_7 img_inner">
          <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/OXIDIZED BITUMEN/oxidized bitumen tanker.jpg")" alt="OXIDIZED"/>
    </div>   
    
</div>

