@{
    ViewBag.Title = "Bitumen";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <a href="@Url.Action("Bitumen")" class="btn">Back</a>
            <h2>Penetration Bitumen
                <span></span>
            </h2>
        </div>
    </div>
    <div class="img_box_Header">
        <img class="img_inner" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/penetrationHeader.jpg")" alt="Penetration"/>
    </div>
    <div class="grid_16 ">
        <p>Iran penetration bitumen (Iran bitumen 40/50; Iran bitumen 60/70; Iran bitumen 80/100; Iran bitumen 85/100) has high quality in the world.  It is famous to NIOC Iran bitumen and available in different grades, packing between 10000MT to 12000MT monthly.</p>
        <p>Available packing is new steel drum, polybag, Bulk bitumen, Bitutank.</p>
        <h3>Product Summary</h3>
        <p>Ghanim Abbadi Trading Company (GAT) is member of syndicate Iranian bitumen exporter (Iran bitumen 40/50; Iran bitumen 60/70; Iran bitumen 80/100)  and partner of most drumming factories which has owned export license for exporting all grades of bitumen as per of ASTM standard such as :</p>
        <p>Iran Bitumen 30/40, Iran Bitumen 40/50, Iran Bitumen 60/70, Iran Bitumen 80/100, Iran Bitumen 85/100.</p>
        <h3>Penetration Bitumen?</h3>
        <p>Iran Bitumen is produced from selected crude oils through a process of fractional distillation. The crude oil is heated to temperatures of between 300 and 350 degrees Celsius and fed into a distillation column allowing the lightest fractions of the crude to separate, through vaporization, from the heavier fractions, which remain liquid.</p>
        <p>The higher boiling point fractions are then drawn - off via a heat exchanger and enter a vacuum distillation column. This process produces a "short residue" that is used to manufacture several grades of Iran bitumen.  The  pressure and temperature conditions  within  the vacuum  process  will  determine the hardness of the short residue, and as  such  the  grade  of  Iran bitumen produced. The short residue may be further modified by   'air blowing' in which air is passed through the residue at temperatures of 250 - 300 degrees Celsius.</p>
        <p>The above are the typical Penetration or Paving Grades of bitumen. Additional processing provides other grades of bitumen products such as:</p>
        <p><h3> Oxidized bitumen </h3>- produced by more vigorous air blowing; they are more 'rubber like' and less temperature susceptible than the paving grades.</p>
        <p><h3>Hard Grade bitumen</h3> - harder paving grades.</p>
        <p><h3>Cutback bitumen</h3> - blends of penetration bitumen with solvent such as kerosene.</p>
        <p><h3>Emulsions</h3> - stabilized suspensions of bitumen in water.</p>
        <p><h3>Polymer Modified Bitumen</h3> - mixtures of selected bitumen with polymers such as thermoplastics or elastomers.</p>
        <h3>Penetration Bitumen Process</h3>
        <img class="img_inner" style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/penetration_bitumen_process.jpg")" alt="Penetration"/>
    </div>

  
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/BITUMEN_in__bag.jpg")" alt="Penetration"/>
    </div> 
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/BULK_BITUMEN6070.jpg")" alt="Penetration"/>
    </div> 
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/BituBag_BITUMEN6070.jpg")" alt="Penetration"/>
    </div> 
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/canned bitumne.JPG")" alt="Penetration"/>
    </div> 
    <div class="clearfix"></div>
    <div class="grid_7 img_inner">
        <img  style="width: 100%" src="@Url.Content("~/Content/images/products/Bitumen/Penetration Bitumen/canned_bitumen.JPG")" alt="Penetration"/>
    </div> 
    
</div>

