@{
    ViewBag.Title = "Pistachio";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Pistachio
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">
        <div class="clearfix"></div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage1.jpg")" alt="Pistachio" />
    </div>
    <div class="grid_16 ">
        <h3>
            Kernal
        </h3>
        <div class="clearfix"></div>

        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage2.jpg")" alt="Pistachio" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage3.jpg")" alt="Pistachio" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage4.jpg")" alt="Pistachio" />
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage5.jpg")" alt="Pistachio" />
    </div>
    <div class="grid_16 ">
        <p>
            •	Whole green kernels
        </p>
        <p>
            This type of Kernels is taken from trees when the pistachios are still raw
            and not reached the standard level of maturity, this is the reason for being
            green. This type of Iranian pistachio kernels is normally taken between July
            and August. This type can be graded depending on the percentage of raw color
            that is differentiated as green; therefore if it is completely raw with low
            percentage of red kernels it approves good quality.
        </p>
        <p> •	Whole Kernels</p>
        <p>
            Whole pistachios kernel is One the flavorful pistachios with reddish
            appearance which its fresh flavor made it as a delicious Natural and useful
            snack for everyone.
        </p>
        <p>•	Halves & Pieces</p>
        <p>
            Pistachio Meats Halves & Pieces from Arcade Snacks are raw pistachios that
            are vibrant green, and naturally opened. Pistachios have high nutritional value
            and are a healthy snack. The halves and pieces are a great size for cooking and
            baking.
        </p>
        <p>•	Small Meats</p>
        <div class="grid_16 ">
            <h3>In shell pistachio:</h3>
            <div class="clearfix"></div>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage6.jpg")" alt="Pistachio" />
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage7.jpg")" alt="Pistachio" />
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage8.jpg")" alt="Pistachio" />
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage9.jpg")" alt="Pistachio" />
        </div>
        <div class="grid_16 ">
            <h3>Kalleh Ghouchi</h3>
            <div class="clearfix"></div>
            <p>
                This nut is famous for being large. It is sensitive to shortage of water and
                its leaves are complex. This type of nut is vulnerable to cold weather in spring.
                It can be harvested in mid-September. On the whole Kalleh Ghouchi is not being
                budded anymore and production is from existing trees. Although commercially quite
                successful, Kalleh Ghouchi trees showed a steep drop in growth and production as
                they grew older than 40 years old. It is expected that the production would slowly
                decline. Available sizes are 20/22, 22/24 and 24/26, with 18/20 being available in
                small quantities.
            </p>
        </div>
        <div class="grid_16 ">
            <h3>Long Akbari</h3>
            <div class="clearfix"></div>
            <p>
                This type is the highest economic value. Its fruits are large and almond
                shaped. It can be harvested in late September. This is a newer variety with
                good yield and with long, large nuts.
            </p>
        </div>
        <div class="grid_16 ">
            <h3>Long Ahmadi Aghaei</h3>
            <div class="clearfix"></div>
            <p>
                This nut is rather large and its fruit is almond shaped. It can be harvested
                in late September. The newest commercial variety, very popular with the
                farmers, because of high yield and its shorter time to reach production.
                It is very popular in some markets like India and Greece. Production of this
                variety is increasing. It also has the whitest shell hue among the four.
            </p>
        </div>
        <div class="grid_16 ">
            <h3>Round (Fandoghi)</h3>
            <div class="clearfix"></div>
            <p>
                This cultivar is the most widely available pistachio variety and grows in
                most pistachio growing areas of Iran. Fandoghi is of round type and has the
                lowest shape index among the four cultivars. In recent years, around 50% of
                Iranian production is of the Fandoghi type. The reason is its limited yield;
                the new orchards are seldom planted with this variety. It comes in the
                following sizes 28/30, 30/32 and 32/34 nuts per ounce. Size 26/28 is also
                available in small quantities.
            </p>
        </div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/Pistachio/Pistachiopage11.gif")" alt="Pistachio" /><br />
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            table, td, th, tr {
                border: 1px solid black;
             }
            table, td {
                border: 1px solid black;
            }
            #green {
                background-color: #93c572;
            }
           
        </style>
        <table align="center">
            <tr>
                <th>Jumbo</th>
                <th>Long Ahmdi Aghaei</th>
                <th>Long Akbari</th>
                <th>
                    Round
                    (Fandoghi)
                </th>
            </tr>
            <tr>
                <td>(1) 20/22</td>
                <td>(2) 22/24</td>
                <td>(1) 20/22</td>
                <td>(1) 28/30</td>

            </tr>
            <tr>
                <td>(2) 22/24</td>
                <td>(2) 26/28</td>
                <td>(2) 22/24</td>
                <td>(2) 30/32</td>
            </tr>
            <tr>
                <td>(2) 22/24</td>
                <td>(2) 26/28</td>
                <td>(2) 22/24</td>
                <td>(2) 30/32</td>
            </tr>
            <tr>
                <td></td>
                <td>(3) 28/30</td>
                <td>(3) 24/26</td>
                <td></td>
            </tr>
        </table>
        <br />
        <table align="center">
            <tr>
                <th colspan="6">Shipping Information</th>
            </tr>
            <tr>
                <td>Product</td>
                <td>Packing</td>
                <td>
                    Unit Net
                    Weight(kg)
                </td>
                <td>Container</td>
                <td>Quantity</td>
                <td>
                    Net Weight
                    (kg)
                </td>


            </tr>
            <tr>
                <td rowspan="6">
                    In-Shell
                    Pistachio
                </td>
                <td rowspan="4">Cartons</td>
                <td rowspan="2">10</td>
                <td>20’ Container</td>
                <td>1100 Cartons</td>
                <td>1100</td>
            </tr>
            <tr>
                <td>40’ Container</td>
                <td>2200 Cartons</td>
                <td>2200</td>
            </tr>
            <tr>
                <td rowspan="2">12</td>
                <td>20’ Container</td>
                <td>1000 Cartons</td>
                <td>12000</td>
            </tr>
            <tr>
                <td>40’ Container</td>
                <td>2000 Cartons</td>
                <td>24000</td>
            </tr>
            <tr>
                <td rowspan="2">Bags</td>
                <td rowspan="2">50</td>
                <td>20’ Container</td>
                <td>240 Bags</td>
                <td>12000</td>
            </tr>
            <tr>
                <td>40’ Container</td>
                <td>480 Bags</td>
                <td>24000</td>
            </tr>
        </table>
        <br />
        <div class="grid_16 ">
            <h3>Specifications</h3>
            <div class="clearfix"></div>
            <table width="100%" align="center">
                <tr>
                    <th>Grades</th>
                    <th>Superior Grade</th>
                    <th>Excellent Grade</th>
                    <th>Grade1</th>
                    <th>Grade2</th>
                </tr>
                <tr>
                    <td colspan="5" align="left" id="green">
                        Shell Defects(%)
                        (Allowable tolerances by weight)
                    </td>
                </tr>
                <tr>
                    <td>Closed shell and blanks</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Blanks</td>
                    <td>0.5</td>
                    <td>0.75</td>
                    <td>0.75</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Adhering hull</td>
                    <td>0.5</td>
                    <td>0.75</td>
                    <td>1</td>
                    <td>1.25</td>
                </tr>
                <tr>
                    <td>Stained shell</td>
                    <td>1</td>
                    <td>1.5</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Deformity</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Slightly open in-shell</td>
                    <td>5</td>
                    <td>10</td>
                    <td>18</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Total shell defects</td>
                    <td>7</td>
                    <td>13</td>
                    <td>22</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td colspan="5" align="left" id="green">
                        Kernel Defects(%)
                        (Allowable tolerances by weight)
                    </td>
                </tr>
                <tr>
                    <td>Loose kernels</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2.5</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Pest damage</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Adhering hull</td>
                    <td>0.5</td>
                    <td>0.75</td>
                    <td>1</td>
                    <td>1.25</td>
                </tr>
                <tr>
                    <td>Stained shell</td>
                    <td>1</td>
                    <td>1.5</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Deformity</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Slightly open in-shell</td>
                    <td>5</td>
                    <td>10</td>
                    <td>18</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Total shell defects</td>
                    <td>7</td>
                    <td>13</td>
                    <td>22</td>
                    <td>28</td>
                </tr>
            </table>
        </div>
        <p>For further enquiries, please feel free to contact us on<a href="mailto:info@rhineme.com"> info@rhineME.com</a> Thanks in advance and looking forward to hear from you soon.</p>
    </div>
    </div>
