@{
    ViewBag.Title = "SeaFood";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container_16">
    <div class="wrapper">
        <div class="grid_16">
            <h2>
                Sea Food
                <span></span>
            </h2>
        </div>
    </div>
    <div class="grid_16 ">
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimpPage1.jpg")" alt="FrozenShrimp" />
    </div>
    <div class="grid_16 ">
        <p>
            <h3>Species</h3>
            <br />
            White leg shrimp (Litopenaeus vannamei, formerly Penaeus vannamei), also known as Pacific white shrimp, King prawn<br />
            <div class="clearfix"></div>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimpPage2.jpg")" alt="FrozenShrimp" />
            <div class="clearfix"></div>
            <h3>Packaging</h3><br />
            2 kg carton boxes – 6 boxes in a master cartoon (or in accordance to the order)<br />
            <div class="clearfix"></div>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimpPage3.jpg")" alt="FrozenShrimp" />
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimpPage4.jpg")" alt="FrozenShrimp" />
            <div class="clearfix"></div>
            <h3>Type</h3><br />
            Head-on shell-on (HOSO) : Size Range From 30-40 to 100-120 (the most common for export, especially for European destinations)
            Headless (shell-on) : Size Range From 31-35 to 91-110
            peeled and deveined (P&D): Size Range: From 31-35 to 91-110
            PUD (peeled undeveined): Size Range: From 31-35 to 91-110
            PTO (peeled tail on): Size Range From 56-66 to 155-176.
        </p>
        <br />
        <div class="clearfix"></div>
        <img class="img_inner inlineImage" src="@Url.Content("~/Content/images/products/FrozenShrimp/FrozenShrimpPage5.jpg")" alt="FrozenShrimp" />
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <h3>Payment Terms</h3><br />
        <p>Letter Of Credit</p>
        <div class="clearfix"></div>
        <h3>Shipment</h3>
        <p>Load port: Bandar Abbass port, Chabahar port</p>
        <p>Discharging port: as per request</p>
        <p>Minimum order: 40 ft container, containing 22400 kg, in 2kg boxes and 12kg(6*2) master cartoon</p>        
        <div class="clearfix"></div>
    <h3>Price</h3><br />
    <strong>Please note that the price of the shrimp is determined by its size range and usually orders are as a basket including different sizes.</strong><br />
    <strong>( e.g. 10%: 50-60, 70%: 60-70, 20%: 100-120).</strong><br />
    <p>For further enquiries, please feel free to contact us on<strong><a href="mailto:info@abbaditrading.com"> info@abbaditrading.com</a></strong> Thanks in advance and looking forward to hear from you soon.</p>
</div>
</div>
